<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		{% if general.nTitle and general.nTitle|length > 0 %}
			<title>{{ general.nTitle }}</title>
		{% else %}
			<title>GLUEAmsterdam</title>
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<link rel="stylesheet" href="{{ siteUrl }}css/style.css">
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<style>
			body,
			html {
				height: 100%;
			}
			.wrapper {
				align-items: center;
				justify-content: center;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<main class="c-503">
				<h3 class="c-503__title">503 - Service unavailable</h3>
				<p class="c-503__message">
					Our site is temporarily unavailable.
                    <br />
                    please try again later.
				</p>
				<span class="c-503__buttons">
					<a class="c-503__button" href="{{ general.postSlug }}">go to homepage</a>
					{% if craft.app.request.url not in craft.app.request.referrer and craft.app.request.referrer %}
						<a class="c-503__button" href="{{ craft.app.request.referrer }}">go to previous page</a>
					{% endif %}
				</span>
			</main>
		</div>
	</body>
</html>
