.c-forget {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    input, button {
        border: none;
        width: fit-content;
        background: $special-primary;
        @include font--primary(600);
        color: $text-primary;
        border: 1px solid $text-primary;
        padding: 0.75rem 1.5rem;
    }

    
    &__label {
        position: relative;
        display: block;
        @include font--primary(600);
    }

    &__input {
        min-width: 17rem;
    }


    .errors {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        li {
            display: flex;
            flex-direction: column;
            background: $light-red;
            justify-content: center;
            padding: 0.5rem 1rem;
            color: $text-contrast;
            @include slide-in($transition-fast);
            max-width: 25rem;
            @include font--primary(500);
            @include paragraph;
        }
    }
}