{% extends "index" %}

{% set progressPoints = ["Package", "Account", "Company", "Map", "Invoice details",] %}

{% if number is not defined or number is null %}
	{% redirect '/sign-up/1' %}
{% endif %}

{% set progress = number %}

{% if currentUser %}
	{% set urlstr = currentUser.fullName|replace({' ': "-"}) %}
	{% redirect "/" ~ urlstr %}
{% endif %}

{% block content %}
	<main class="c-register">
		<h2 class="c-register__title">Welcome to GLUE!</h2>

		<p>Already a member this year?
			<a href="/login">login here to adjust your page</a>
		</p>

		<div class="c-register__errors"></div>

		<div class="c-register__progress">
			{% for point in progressPoints %}
				<div class="c-register__progressPoint {% if loop.index <= progress %} active {% endif %}">
					<span class="c-register__progressPointLine"></span>
					<span class="c-register__progressPointBall">{{ loop.index }}</span>
					<p class="c-register__progressPointText">{{ point }}</p>
					<span class="c-register__progressPointLine"></span>
				</div>
			{% endfor %}
		</div>

		{% if progress is same as("1") %}
			<div class="c-register__form c-register__form-1">
				<h4 class="c-register__formTitle">Select your package</h4>
				<p class="c-register__formSubTitle">Connect and promote your location during the GLUE event</p>
				<div class="c-register__formPackages">
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>MEMBERSHIP ONLY</h3>
							<p>Become a GLUE member to connect with the design community in Amsterdam.</p>
							<h2>€250*</h2>
						</div>
						<p class="c-register__formPackageWarning">(If you are an individual designer you can become a member for €150,-.)</p>
						<ul>
							<li>Invitation to 2/3 GLUE Community Cocktails at one of the unique locations of a GLUE participant. You will receive special news and updates through our newsletters.</li>
							<li>1 personal invite for the Paradiso opening party, before the start of the design route in September.</li>
							<li>The use of “Proud GLUE Member” email signature.</li>
							<li>You can always upgrade to a become a participant (You only pay the difference between a membership and the participation fee.)</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="MEMBERSHIP ONLY">Select</button>
					</div>
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>STICKY</h3>
							<p>For individual designers, ZZP’ers (you work on your own, no employees)</p>
							<h2>€450*</h2>
						</div>
						<ul>
							<li>Personal page on GLUE website (The communication will be based on your personal name - not a studio/label name).</li>
							<li>Dot on the GLUE map, along one of the GLUE routes.</li>
							<li>Street signage during the 4 days of the design route in September.</li>
							<li>1 post/reel on Instagram @glue.amsterdam; which equals a market value of €600.-.</li>
							<li>Includes 1 year GLUE Membership.</li>
							<li>A special event, organized by yourself, will be mentioned in our Program – website & Instagram.</li>
							<li>Invitation to GLUE Community Cocktails at one of the unique locations of a participant.</li>
							<li>1 Personal invite for the Paradiso opening party, before the start of the design route in September.</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="STICKY">Select</button>
					</div>
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>BINDER</h3>
							<p>For studios, design brands/labels, architectural firms and showrooms with 1 to 9 employees.</p>
							<h2>€950*</h2>
						</div>
						<ul>
							<li>Personal page on GLUE website</li>
							<li>Dot on the GLUE map, along one of the routes.</li>
							<li>Street signage during the 4 days of the design route in September.</li>
							<li>2 posts/reels on Instagram @glue.amsterdam; which equals a market value of €1,200.-</li>
							<li>Includes 1 year GLUE membership</li>
							<li>A special event, organized by yourself, will be mentioned in our Program – website & Instagram.</li>
							<li>Invitation to GLUE Community Cocktails at one of the unique locations of a participant.</li>
							<li>1 Personal invite for the Paradiso opening party, before the start of the design route in September.</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="BINDER">Select</button>
					</div>
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>CEMENT</h3>
							<p>For studios, design brands/labels, architectural firms and showrooms with 10 or more employees. And for agents with 2 or more brands/labels.</p>
							<h2>€1,950*</h2>
						</div>
						<ul>
							<li>Personal page on GLUE website.</li>
							<li>Dot on the GLUE map, along one of the routes.</li>
							<li>Street signage during the 4 days of the design route in September.</li>
							<li>3 posts/reels on Instagram @glue.amsterdam; which equals a market value of €1,800.-</li>
							<li>Includes 1 year GLUE membership.</li>
							<li>A special event, organized by yourself, will be mentioned in our Program – website & Instagram.</li>
							<li>Invitation to GLUE Community Cocktails at one of the unique locations of a participant.
							</li>
							<li>3 Personal invite for the Paradiso opening party before the start of the design route in September.</li>
							<li>Possibility to host a Community Cocktail co-organized by GLUE* at your own location.</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="CEMENT">Select</button>
					</div>
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>SUPER GLUE</h3>
							<p>For design labels and collective showrooms, who want more exposure and awareness during GLUE.</p>
							<h2>€4,000*</h2>
						</div>
						<ul>
							<li>Personal page on GLUE website.</li>
							<li>Dot on the GLUE map, along one of the routes.</li>
							<li>Street signage during the 4 days of the design route in September.</li>
							<li>4 posts on Instagram @glue.amsterdam; which equals a market value of  €2,400.-</li>
							<li>Includes 2 years GLUE memberships (this means you can join the Community Cocktails together with your colleagues).</li>
							<li>A special event, organized by yourself, will be mentioned in our Program – website & Instagram.</li>
							<li>Invitation to GLUE Community Cocktails at one of the unique locations of a participant.</li>
							<li>4 Personal invites for the Paradiso opening party, before the start of the design route in September.</li>
							<li>2 VIP invites for the pre-opening party at Paradiso.</li>
							<li>Possibility to host a Community Cocktail co-organized by GLUE* at your own location.</li>
							<li>Possibility to host a unique tailor-made activity/event during the design route Co-organized by GLUE.</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="SUPER GLUE">Select</button>
					</div>
				</div>
				<p class="c-register__formVAT">*Excl. VAT</p>
				<span class="c-register__formPagination">
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("2") %}
			<div class="c-register__form c-register__form-2">
				<h4 class="c-register__formTitle">Set up your GLUE account</h4>
				<p class="c-register__formSubTitle">Connect and promote your location during the GLUE event</p>
				<label for="email" class="c-register__formLabel">
					Email
					<input type="email" class="c-register__formInput" name="email" id="email" placeholder="Type your Email here" required>
				</label>
				<label for="password" class="c-register__formLabel">
					Password
					<ion-icon name="eye-off-outline" class="c-register__formPasswordVisiblity"></ion-icon>
					<input type="password" class="c-register__formInput" name="password" id="password" placeholder="Type your password here" required>
				</label>

				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("3") %}
			<div class="c-register__form c-register__form-3">
				<h4 class="c-register__formTitle">Tell us about your company</h4>
				<p class="c-register__formSubTitle">Please provide us with the right information</p>
				<span class="c-register__formInputRow">
					<label for="companyname" class="c-register__formLabel">
						Company name*
						<input type="text" class="c-register__formInput" name="companyname" id="companyname" placeholder="Type your company name here" required>
					</label>
					<label for="phone" class="c-register__formLabel">
						Phone number
						<input type="phone" class="c-register__formInput" name="phone" id="phone" placeholder="E.g. +31 6 12345678">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="website" class="c-register__formLabel">
						Company website
						<input type="text" class="c-register__formInput" name="website" id="website" placeholder="Type your website here">
					</label>
					<label for="facebook" class="c-register__formLabel">
						Facebook page
						<input type="text" class="c-register__formInput" name="facebook" id="facebook" placeholder="E.g. facebook.com/example">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="instagram" class="c-register__formLabel">
						Instagram page
						<input type="text" class="c-register__formInput" name="instagram" id="instagram" placeholder="E.g. instagram.com/example">
					</label>
				</span>
				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("4") %}
			<div class="c-register__form c-register__form-4">
				<h4 class="c-register__formTitle">GLUE Map location</h4>
				<p class="c-register__formSubTitle">Please provide the location of your GLUE Exposition</p>
				<span class="c-register__formInputRow">
					<label for="mapaddress" class="c-register__formLabel">
						Address*
						<input type="text" class="c-register__formInput" name="mapaddress" id="mapaddress" placeholder="E.g. Adamstraat 1">
					</label>
					<label for="mappostalcode" class="c-register__formLabel">
						ZIP/Postal Code*
						<input type="text" class="c-register__formInput" name="mappostalcode" id="mappostalcode" placeholder="E.g. 2000 AB" autocomplete="off">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="mapvenue" class="c-register__formLabel">
						Venue
						<input type="text" class="c-register__formInput" name="mapvenue" id="mapvenue" placeholder="Fill in venue..">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="nolocation" class="c-register__formLabel">
						<input type="checkbox" class="c-register__formInput" name="nolocation" id="nolocation">
						I don’t have my own location, please provide me one
					</label>
				</span>

				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("5") %}
			<div class="c-register__form c-register__form-5">
				<h4 class="c-register__formTitle">Invoice details</h4>
				<p class="c-register__formSubTitle">Please submit your billing information</p>
				<span class="c-register__formInputRow">
					<label for="invoicename" class="c-register__formLabel">
						Company name*
						<input type="text" class="c-register__formInput" name="invoicename" id="invoicename" placeholder="Type your company name here">
					</label>
					<label for="invoicezip" class="c-register__formLabel">
						ZIP/Postal Code*
						<input type="text" class="c-register__formInput" name="invoicezip" id="invoicezip" placeholder="E.g. 2000 AB">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="invoiceaddress" class="c-register__formLabel">
						Address*
						<input type="text" class="c-register__formInput" name="invoiceaddress" id="invoiceaddress" placeholder="E.g. Adamstraat 1">
					</label>
					<label for="invoicecountry" class="c-register__formLabel">
						Country*
						<input type="text" class="c-register__formInput" name="invoicecountry" id="invoicecountry" placeholder="E.g. the Netherlands">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="invoicecity" class="c-register__formLabel">
						City*
						<input type="text" class="c-register__formInput" name="invoicecity" id="invoicecity" placeholder="E.g. Amsterdam">
					</label>
					<label for="VAT" class="c-register__formLabel">
						<span>VAT number
							<span class="red">(Only if your company is based overseas)</span>
						</span>
						<input type="text" class="c-register__formInput" name="VAT" id="VAT" placeholder="Type your VAT number here">
					</label>
				</span>

				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formFinish disabled" disabled>Finish</button>
				</span>
			</div>
		{% endif %}

	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ alias('@cscripts') }}/register/register.js" type="module"></script>
{% endblock %}
