{% extends "index" %}

{% if currentUser or craft.app.request.url in craft.app.request.referrer or not craft.app.request.referrer %}
    {% redirect "/" %}
{% endif %}

{% block styles %}
	<style>
		body,
		html {
			height: 100%;
		}
	</style>
{% endblock %}

{% block content %}

	<main class="c-registerConfirm">
		<h2>Thank you for signing up</h2>
		<p>
			Congratulations! Your account has been successfully created.
			<br/>
			Please note that your account is not yet activated. We will be in
			<br/>
			touch with you shortly to complete the activation process.
		</p>
	</main>
{% endblock %}
