{% extends "index" %}

{% block styles %}
	<style>
		body,
		html {
			height: 100%;
		}
		.wrapper {
			align-items: center;
		}
	</style>
{% endblock %}

{% block content %}

	<main class="c-reset">
		<form method="post" accept-charset="UTF-8">
			{{ csrfInput() }}
			<input type="hidden" name="action" value="users/set-password">
			<input type="hidden" name="code" value="{{ code }}">
			<input type="hidden" name="id" value="{{ id }}">


			<label for="newPassword" class="c-reset__label">
				New Password
			</label>

			<span class="c-reset__passwordWrapper">
				<ion-icon name="eye-off-outline" class="c-reset__passwordVisiblity"></ion-icon>
				<input type="password" class="c-reset__input" name="newPassword" id="newPassword" placeholder="Type your password here" required>
			</span>

			<input type="submit" value="Submit">

			{% if errors is defined %}
				<ul class="errors">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}

		</form>
	</main>

{% endblock %}

{% block javascripts %}

	<script>
		const passwordVisiblity = document.querySelector(".c-reset__passwordVisiblity")
const password = document.querySelector("#newPassword")

passwordVisiblity.addEventListener('click', () => {
const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
const name = passwordVisiblity.getAttribute('name') === 'eye-off-outline' ? 'eye-outline' : 'eye-off-outline'
password.setAttribute('type', type);
passwordVisiblity.setAttribute('name', name)
});
	</script>

{% endblock %}
