.c-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #10069F;
}
.c-header__return {
  display: flex;
  align-items: center;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  margin: 0;
}
.c-header__return, .c-header__links a {
  font-size: 1.2em;
}
.c-header__links {
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  margin-left: auto;
}
.c-header__links > a:not(:last-child) {
  margin-right: 1rem;
}

.c-editMenu {
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}
@media screen and (max-width: 991px) {
  .c-editMenu {
    flex-direction: row;
  }
}
.c-editMenu__link {
  display: flex;
  width: 10rem;
}
@media screen and (max-width: 991px) {
  .c-editMenu__link {
    justify-content: center;
    align-items: center;
    width: 7.5rem;
  }
}

.c-map {
  color: #ffffff;
  width: 100%;
  height: calc(100vh - 5.5rem);
  grid-area: map;
}
.c-map canvas {
  width: 100% !important;
}
@media screen and (max-width: 991px) {
  .c-map {
    width: 100%;
  }
}
.c-map__headers {
  width: 100%;
  z-index: 10;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.c-map__headers li {
  width: 100%;
  height: 100%;
}
.c-map__headers li:nth-of-type(1) {
  background: #10069F;
}
@media screen and (max-width: 991px) {
  .c-map__headers li:nth-of-type(1) {
    text-align: left;
  }
}
.c-map__headers li:nth-of-type(2) {
  background: #aea8fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
}
.c-map__popupImg {
  width: 100%;
}
.c-map__popupImgWrapper {
  width: 100%;
  height: 10rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-map__popupImgOverlay {
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(16, 6, 159, 0.4);
}
.c-map__popupImgText {
  margin: 0;
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
}
.c-map__popupImgTextWrapper {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}
.c-map__popupLink {
  border: 2px solid #10069F;
  padding: 0.25rem 0.5rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  color: #10069F;
  width: 50%;
  text-align: center;
}
.c-map__popupLink:first-of-type {
  margin-right: 1rem;
}
.c-map__popupLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;
}
.c-map__marker {
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lausanne";
  font-weight: 700;
  font-style: normal;
}
.c-map__menu {
  width: 100%;
  height: calc(100vh - 5.5rem);
  display: flex;
  position: relative;
  grid-area: menu;
}
@media screen and (max-width: 991px) {
  .c-map__menu {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .c-map__menu {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
}
.c-map__menuDirectionButton {
  text-transform: capitalize;
  cursor: pointer;
  color: #ffffff;
}
.c-map__menuDirectionCloseButton {
  top: 0;
  left: 0;
  z-index: 1;
  outline: none;
  border: none;
  transition: 0.35s;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  background: none;
  margin-left: 2rem;
}
.c-map__menuDirectionCloseButton ion-icon {
  transition: 0.35s;
  margin-right: 0.25rem;
}
.c-map__menuDirectionTab {
  position: absolute;
  transform: translateX(-100%);
  transition: 0.35s;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #10069F;
}
@media screen and (max-width: 767px) {
  .c-map__menuDirectionTab {
    max-height: 100%;
    flex-direction: column;
  }
}
.c-map__menuDirectionTab.active {
  transform: translateX(0px);
  z-index: 1;
}
.c-map__menuTab {
  cursor: pointer;
}
.c-map__menuItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
  background: #10069F;
  position: relative;
}
@media screen and (max-width: 991px) {
  .c-map__menuItem {
    padding: 1rem;
  }
}
.c-map__menuTabActive {
  display: none;
}
.c-map__locationsOverview {
  overflow-y: scroll;
  padding-top: 8rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .c-map__locationsOverview {
    max-height: 60vh;
  }
}
.c-map__locationsOverview > h2 {
  margin-top: 20rem;
}
@media screen and (max-width: 767px) {
  .c-map__locationsOverview > h2 {
    margin-top: 30rem;
  }
}
.c-map__menuItem.active, .c-map__locationsOverview {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 4rem 0;
}
.c-map__menuItem.active li h2, .c-map__locationsOverview li h2 {
  max-width: 15rem;
  margin: 0;
}
.c-map__menuItem.active li a, .c-map__locationsOverview li a {
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}
.c-map__menuItem.active ul > li:first-of-type, .c-map__locationsOverview ul > li:first-of-type {
  padding: 0 2rem;
}
.c-map__menuItem.active ul > li:first-of-type::after, .c-map__locationsOverview ul > li:first-of-type::after {
  top: 40% !important;
}
.c-map__menuItem.active ul > li:first-of-type::after, .c-map__locationsOverview ul > li:first-of-type::after {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: none;
  border: 2.5px solid #ffffff;
  left: -16px;
}
.c-map__menuItem.active ul > li:first-of-type::before, .c-map__locationsOverview ul > li:first-of-type::before {
  top: calc(40% + 1.2rem) !important;
}
.c-map__menuItem.active ul > li:nth-of-type(2), .c-map__locationsOverview ul > li:nth-of-type(2) {
  padding: 1.5rem 0;
}
.c-map__menuItem.active ul > li:nth-of-type(2)::after, .c-map__locationsOverview ul > li:nth-of-type(2)::after {
  display: none;
}
.c-map__menuItem.active ul li, .c-map__locationsOverview ul li {
  position: relative;
  /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0;
  /* This overrides previously specified margin-bottom */
  padding: 0 1rem 2rem 1rem;
}
.c-map__menuItem.active ul li:not(:first-of-type), .c-map__locationsOverview ul li:not(:first-of-type) {
  text-align: left;
}
.c-map__menuItem.active ul li a,
.c-map__menuItem.active ul li a span, .c-map__locationsOverview ul li a,
.c-map__locationsOverview ul li a span {
  margin-left: 1rem;
  transition: 0.2s;
}
.c-map__menuItem.active ul li a, .c-map__locationsOverview ul li a {
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
}
.c-map__menuItem.active ul li a:hover, .c-map__locationsOverview ul li a:hover {
  border: 2px solid #ffffff;
}
.c-map__menuItem.active ul li:after, .c-map__locationsOverview ul li:after {
  /* bullets */
  content: "";
  background: #ffffff;
  width: 10px;
  height: 2.5px;
  position: absolute;
  left: -6px;
  /*adjust manually*/
  top: 10px;
}
.c-map__menuItem.active ul li:before, .c-map__locationsOverview ul li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -7px;
  /* adjust manually */
  border-left: 2px solid #ffffff;
  height: 100%;
  width: 6px;
  top: 11px;
}
.c-map__menuItem.active ul li:first-child:before, .c-map__locationsOverview ul li:first-child:before {
  /* first li's line */
  top: 2px;
  /* moves the line down so that it disappears under the bullet. Adjust manually */
}
.c-map__menuItem.active ul li:last-child:before, .c-map__locationsOverview ul li:last-child:before {
  /* last li's line */
  height: 2px;
  /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
.c-map__menu > li:nth-of-type(2) {
  background: #1407c4;
}
.c-map__menuDirectionTab > li:nth-of-type(2) {
  background: #1407c4 !important;
}
.c-map__menuDirectionTab > li:nth-of-type(2) + div {
  background: #1407c4 !important;
}
.c-map__menu > li:nth-of-type(3) {
  background: #1709e9;
}
.c-map__menuDirectionTab > li:nth-of-type(3) {
  background: #1709e9 !important;
}
.c-map__menuDirectionTab > li:nth-of-type(3) + div {
  background: #1709e9 !important;
}
.c-map__menu > li:nth-of-type(4) {
  background: #2f21f7;
}
.c-map__menuDirectionTab > li:nth-of-type(4) {
  background: #2f21f7 !important;
}
.c-map__menuDirectionTab > li:nth-of-type(4) + div {
  background: #2f21f7 !important;
}
.c-map__menu > li:nth-of-type(5) {
  background: #5246f8;
}
.c-map__menuDirectionTab > li:nth-of-type(5) {
  background: #5246f8 !important;
}
.c-map__menuDirectionTab > li:nth-of-type(5) + div {
  background: #5246f8 !important;
}
.c-map__menu > li:nth-of-type(6) {
  background: #746bf9;
}
.c-map__menuDirectionTab > li:nth-of-type(6) {
  background: #746bf9 !important;
}
.c-map__menuDirectionTab > li:nth-of-type(6) + div {
  background: #746bf9 !important;
}
.c-map__locationsOverview ol {
  list-style: decimal;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}
.c-map__locationsOverview ol li {
  padding: 0rem 0.75rem;
}
.c-map__locationsOverview ol li button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}
.c-map__locationsOverview ol li:hover ion-icon {
  transform: translateX(0.4rem);
  opacity: 1;
}
.c-map__locationsOverview ion-icon {
  transform: translateX(-2rem);
  opacity: 0;
  transition: 0.35s;
}
.c-map__menuRoute h2, .c-map__menuLocations h2, .c-map__menuDirectionButton h2 {
  height: 100%;
  white-space: nowrap;
  text-align: center;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .c-map__menuRoute h2, .c-map__menuLocations h2, .c-map__menuDirectionButton h2 {
    writing-mode: initial;
  }
}
.c-map__menuLockOverlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.c-map__menuGoogleButton {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid #ffffff;
  font-family: "Lausanne";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
.c-map__wrapper {
  width: 100%;
  height: calc(100vh - 5.5rem);
  display: grid;
  grid-template-areas: "header header" "menu map";
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 991px) {
  .c-map__wrapper {
    grid-template-areas: "header" "menu" "map";
    grid-template-columns: 1fr;
  }
}

.mapboxgl-popup-close-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .mapboxgl-popup {
    max-width: 16rem !important;
  }
}

.c-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-register__title {
  text-align: center;
  padding-bottom: 1rem;
}
.c-register__error {
  display: flex;
  flex-direction: column;
  background: #FED7D7;
  justify-content: center;
  padding: 0.5rem 1rem;
  transform: translateX(100%);
  animation: slide-in 0.35s 0ms forwards;
  color: #000000;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0px);
  }
}
.c-register__errorHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.c-register__errorMark {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #FF0505;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
  color: #ffffff;
}
.c-register__errorTitle, .c-register__errorMark {
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
}
.c-register__errorTitle, .c-register__errorText {
  margin-bottom: 0;
}
.c-register__errorClose {
  margin-left: auto;
  font-size: 1.5em;
  cursor: pointer;
}
.c-register__errors {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 50;
}
.c-register__errors > *:not(:last-of-type) {
  margin-bottom: 1rem;
}
.c-register__progress {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.c-register__progressPoint {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
.c-register__progressPointLine {
  border: 2px solid #ffffff;
  width: 50%;
}
.c-register__progressPointText {
  position: absolute;
  top: calc(100% + 1rem);
  color: #ffffff;
}
.c-register__progressPointBall {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 2rem !important;
  height: 2rem !important;
  background: #10069F;
  border-radius: 100%;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.c-register__progressPoint.active .c-register__progressPointLine:nth-of-type(1) {
  border: 2px solid #ffffff;
}
.c-register__progressPoint.active .c-register__progressPointText {
  color: #ffffff;
}
.c-register__progressPoint.active .c-register__progressPointBall {
  background: #ffffff;
  color: #10069F;
}
.c-register__progressPoint.active:has(~ .c-register__progressPoint.active) .c-register__progressPointLine {
  border: 2px solid #ffffff;
}
.c-register__form {
  display: flex;
  padding: 2rem 10rem;
  width: fit-content;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .c-register__form {
    padding: 2rem 5rem;
  }
}
@media screen and (max-width: 767px) {
  .c-register__form {
    padding: 2rem;
  }
}
.c-register__formTitle {
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
}
.c-register__formSubTitle {
  color: #ffffff;
}
.c-register__formVAT {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .c-register__formVAT {
    font-size: 14px;
    line-height: 18px;
  }
}
.c-register__formPagination {
  display: flex;
}
.c-register__formPagination button:nth-last-of-type(1) {
  margin-left: auto;
}
.c-register__formPrevious, .c-register__formContinue, .c-register__formFinish {
  border: none;
  width: fit-content;
  background: #10069F;
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.75rem 1.5rem;
}
.c-register__formPrevious {
  background: none;
  color: #ffffff;
}
.c-register__formContinue.disabled, .c-register__formFinish.disabled {
  opacity: 0.5;
}
.c-register__formPackages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media screen and (max-width: 991px) {
  .c-register__formPackages {
    align-items: center;
  }
}
.c-register__formPackage {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 1rem;
  position: relative;
  max-width: 22rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.c-register__formPackage.selected {
  background: #ffffff;
  color: #10069F;
}
.c-register__formPackage ul {
  list-style: outside;
  padding: 1rem 2rem;
}
.c-register__formPackage ul li, .c-register__formPackage span {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.1rem;
}
@media screen and (max-width: 767px) {
  .c-register__formPackage ul li, .c-register__formPackage span {
    font-size: 14px;
    line-height: 18px;
  }
}
.c-register__formPackage button {
  border: 1px solid #ffffff;
  padding: 0.5rem;
  width: 100%;
  background: none;
  transition: 0.35s;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-register__formPackage button:hover, .c-register__formPackage button.selected {
  background: #10069F;
}
.c-register__formPackageHeading {
  position: relative;
  display: flex;
  flex-direction: column;
}
.c-register__formPackageHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 95%;
  border: 1px solid #ffffff;
  align-self: center;
}
.c-register__formPackageHeading h3 {
  margin: 0;
}
.c-register__form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 25rem;
}
@media screen and (max-width: 767px) {
  .c-register__form label {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 991px) {
  .c-register__form label {
    max-width: 25rem;
    min-width: initial;
  }
}
.c-register__formInput {
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  background: none;
  display: flex;
  padding: 0.5rem 0;
  width: 100%;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .c-register__formInput {
    min-width: 15rem;
  }
}
.c-register__formInput::placeholder {
  color: #bfbfbf;
}
.c-register__formInputRow {
  display: flex;
}
@media screen and (max-width: 767px) {
  .c-register__formInputRow {
    flex-direction: column;
  }
}
.c-register__formInputRow .c-register__formLabel:not(:last-of-type) {
  margin-right: 2rem;
}
@media screen and (max-width: 767px) {
  .c-register__formInputRow .c-register__formLabel:not(:last-of-type) {
    margin: 0;
  }
}
.c-register__formError, .c-register__form .red {
  color: #FF0505;
}
.c-register__formPasswordVisiblity {
  position: absolute;
  left: 90%;
  font-size: 1.3em;
  top: 1.7rem;
  cursor: pointer;
}

.c-registerConfirm {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
}
.c-login__form {
  display: flex;
  flex-direction: column;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  width: 100%;
}
.c-login__formLabel {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-login__formLabel {
    font-size: 14px;
    line-height: 18px;
  }
}
.c-login__formLabel input {
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  background: none;
  outline: none;
}
.c-login__passwordVisiblity {
  position: absolute;
  left: 90%;
  font-size: 1.3em;
  top: 0.7rem;
  cursor: pointer;
}
.c-login__remember input {
  margin-right: 0.5rem;
}
.c-login__submit {
  padding: 0.25rem;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.c-login__error {
  display: flex;
  flex-direction: column;
  background: #FED7D7;
  justify-content: center;
  padding: 0.5rem 1rem;
  color: #000000;
  transform: translateX(100%);
  animation: slide-in 0.35s 0ms forwards;
  max-width: 25rem;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0px);
  }
}
.c-login__errorHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.c-login__errorMark {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #FF0505;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
  color: #ffffff;
}
.c-login__errorTitle, .c-login__errorMark {
  font-family: "Lausanne";
  font-weight: 600;
  font-style: normal;
}
.c-login__errorTitle, .c-login__errorMessage {
  margin-bottom: 0;
}
.c-login__errorClose {
  margin-left: auto;
  font-size: 1.5em;
  cursor: pointer;
}
.c-login__errors {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 50;
}

.c-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.c-404__title {
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
.c-404__buttons {
  margin-top: 0.5rem;
  display: flex;
}
@media screen and (max-width: 991px) {
  .c-404__buttons {
    flex-direction: column;
  }
}
.c-404__button:not(:last-of-type) {
  margin-right: 0.5rem;
}
.c-404__button {
  border: 1px solid #ffffff;
  padding: 0.5rem 1.5rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
@media screen and (max-width: 991px) {
  .c-404 {
    padding: 2rem;
  }
}

.c-503 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.c-503__title {
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
.c-503__buttons {
  margin-top: 0.5rem;
  display: flex;
}
@media screen and (max-width: 991px) {
  .c-503__buttons {
    flex-direction: column;
  }
}
.c-503__button:not(:last-of-type) {
  margin-right: 0.5rem;
}
.c-503__button {
  border: 1px solid #ffffff;
  padding: 0.5rem 1.5rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
@media screen and (max-width: 991px) {
  .c-503 {
    padding: 2rem;
  }
}

.c-edit {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .c-edit {
    flex-direction: column;
  }
}
.c-edit__formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 20% 0rem 15%;
}
@media screen and (max-width: 991px) {
  .c-edit__formWrapper {
    margin-top: 2rem;
    padding: 0 3rem;
  }
}
.c-edit__form {
  display: flex;
  flex-direction: column;
}
.c-edit__formHeader {
  margin-top: 1rem;
}
.c-edit__form label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .c-edit__form label {
    font-size: 12px;
    line-height: 16px;
  }
}
.c-edit__form button {
  border: 1px solid #ffffff;
  padding: 0.75rem 1.25rem;
  outline: none;
  background: none;
}
.c-edit__formLabel input, .c-edit__formLabel textarea {
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  border: 1px solid #ffffff;
  background: none;
  padding: 0.75rem 1.25rem;
  color: #ffffff;
  outline: none;
  margin-top: 0.5rem;
}
.c-edit__formError {
  position: absolute;
  bottom: -1rem;
  color: #FF0505;
}
.c-edit__formLabelRow {
  display: flex;
}
.c-edit__formLabelRow > p:last-of-type {
  margin-left: auto;
}
.c-edit__formLabelRow p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .c-edit__formLabelRow p {
    font-size: 12px;
    line-height: 16px;
  }
}
.c-edit__formInputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .c-edit__formInputRow {
    flex-direction: column;
  }
  .c-edit__formInputRow > *:not(:last-child) {
    margin: 0 !important;
  }
  .c-edit__formInputRow.options {
    flex-direction: row;
    margin-left: auto;
  }
}
.c-edit__formInputRow > .c-edit__formLabel {
  width: 100%;
}
.c-edit__formInputRow > *:not(:last-child) {
  margin-right: 1rem;
}
.c-edit__formInputRow.options {
  margin-top: 2rem;
}
.c-edit__formInputRow.options *:first-child {
  margin-left: auto;
  border: 1px solid #ffffff;
  padding: 0.75rem 1.25rem;
  outline: none;
  background: none;
  border: none;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
}
.c-edit__featuredImageContainer:hover .c-edit__featuredImageOverlay {
  opacity: 1;
}
.c-edit__featuredImageOverlay {
  transition: 0.35s;
  opacity: 0;
  background: rgba(16, 6, 159, 0.75);
  width: 100%;
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  pointer-events: none;
  display: flex;
  visibility: hidden;
}
.c-edit__featuredImageOverlay:has(~ img:not([src=""])) {
  visibility: visible;
}
.c-edit__featuredImageContainer {
  margin-top: 0.5rem;
  position: relative;
  border: 1px solid #ffffff;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
.c-edit__featuredImageContainer ion-icon {
  font-size: 2em;
}
.c-edit__featuredImageContainer img,
.c-edit__featuredImageContainer input {
  position: absolute;
}
.c-edit__featuredImageContainer input {
  width: 100%;
  height: 100%;
}
.c-edit__featuredImageContainer img {
  z-index: 10;
  width: 100%;
}
.c-edit__featuredImageContainer img[src=""] {
  visibility: hidden;
}
.c-edit__featuredImageContainer input {
  cursor: pointer;
  opacity: 0;
  z-index: 50;
  pointer-events: all;
}
.c-edit__formDateTable {
  display: flex;
  flex-direction: column;
}
.c-edit__formDateTable li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  font-family: "Lausanne";
  font-weight: 500;
  font-style: normal;
  border: 1px solid #ffffff;
  padding: 0.75rem 1.25rem;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .c-edit__formDateTable li {
    font-size: 12px;
    line-height: 16px;
  }
}
.c-edit__formDateTable li > :first-child {
  margin-left: auto;
}
.c-edit__formTimeRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .c-edit__formTimeRow {
    flex-direction: column;
  }
  .c-edit__formTimeRow span:not(:last-of-type) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}
.c-edit__formTimeRow * {
  margin-bottom: 0;
}
.c-edit__formTimeRow span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-edit__formTimeRow span:not(:last-of-type) {
  margin-right: 1rem;
}
.c-edit__formTimeRow p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  margin-bottom: 0;
  margin-right: 1rem;
}
@media screen and (max-width: 767px) {
  .c-edit__formTimeRow p {
    font-size: 12px;
    line-height: 16px;
  }
}
.c-edit__formTimeRow select {
  border: 1px solid #ffffff;
  padding: 0.75rem 1.25rem;
  outline: none;
  background: none;
  color: #ffffff;
  padding: 0.5rem;
}
.c-edit button.disabled {
  border: 1px solid #787878;
}
.c-edit .disabled {
  cursor: not-allowed;
  color: #787878;
}
.c-edit .red {
  color: #FF0505;
}

.c-publicPage {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .c-publicPage {
    flex-direction: column;
  }
}
.c-publicPage__thumbnailContainer {
  width: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .c-publicPage__thumbnailContainer {
    width: 100%;
  }
}
.c-publicPage__thumbnailOverlay {
  position: absolute;
  max-width: 100%;
  padding: 1rem;
}
@media screen and (max-width: 991px) {
  .c-publicPage__thumbnailOverlay {
    height: 80%;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .c-publicPage__thumbnailOverlay {
    aspect-ratio: 1;
    width: 100%;
  }
}
.c-publicPage__thumbnail {
  height: auto;
  height: 100%;
  position: absolute;
  image-orientation: from-image;
}
@media screen and (max-width: 991px) {
  .c-publicPage__thumbnail {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .c-publicPage__thumbnail {
    height: 150%;
    width: auto;
  }
}
.c-publicPage__overview {
  padding: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .c-publicPage__overview {
    width: 100%;
    padding: 2rem;
  }
}
.c-publicPage__overview h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.c-publicPage__overviewOpeningTimes {
  margin-bottom: 1rem;
}
.c-publicPage__overviewOpeningTimes li {
  font-size: 16px;
  font-family: "Lausanne";
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  margin-bottom: 1rem;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .c-publicPage__overviewOpeningTimes li {
    font-size: 14px;
    line-height: 18px;
  }
}
.c-publicPage__thumbnailContainer:has(:not(.c-publicPage__thumbnail)) {
  min-height: 100vh;
}
.c-publicPage__thumbnailContainer:has(:not(.c-publicPage__thumbnail)) .c-publicPage__thumbnailOverlay {
  height: 100%;
}

/* Any imports required multiple times across the site will be imported here. */
@font-face {
  font-family: "TWKLausanne";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TWKLausanne-300.woff2") format("woff2");
}
@font-face {
  font-family: "Lausanne";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lausanne-300.woff2") format("woff2");
}
/* Any CSS beyond this point will be globally applied to the whole document. */
/* CSS Reset */
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .wrapper {
    flex-direction: column;
  }
}

body,
html {
  color: #ffffff;
  background: #10069F;
  position: relative;
  display: flex;
  flex-direction: column;
}
body a,
body button,
body input[type=submit],
html a,
html button,
html input[type=submit] {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
body button,
body a,
body input,
html button,
html a,
html input {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  body button,
  body a,
  body input,
  html button,
  html a,
  html input {
    font-size: 14px;
    line-height: 18px;
  }
}
body h1,
html h1 {
  font-size: 42px;
  font-family: "Lausanne";
  font-weight: 800;
  font-style: normal;
  line-height: 48px;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  body h1,
  html h1 {
    font-size: 30px;
    line-height: 33px;
  }
}
body h2,
html h2 {
  font-size: 40px;
  font-family: "Lausanne";
  font-weight: 800;
  font-style: normal;
  line-height: 44px;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  body h2,
  html h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
body h3,
html h3 {
  font-size: 26px;
  font-family: "Lausanne";
  font-weight: 700;
  font-style: normal;
  line-height: 28px;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  body h3,
  html h3 {
    font-size: 20px;
    line-height: 28px;
  }
}
body h4,
html h4 {
  font-size: 22px;
  font-family: "Lausanne";
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  margin-bottom: 0.15rem;
}
@media screen and (max-width: 767px) {
  body h4,
  html h4 {
    font-size: 12px;
    line-height: 28px;
  }
}
body h5,
html h5 {
  font-size: 18px;
  font-family: "Lausanne";
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 767px) {
  body h5,
  html h5 {
    font-size: 14px;
    line-height: 20px;
  }
}
body p,
html p {
  font-size: 16px;
  font-family: "Lausanne";
  font-weight: 300;
  font-style: normal;
  line-height: 28px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  body p,
  html p {
    font-size: 14px;
    line-height: 18px;
  }
}
body label,
html label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  body label,
  html label {
    font-size: 12px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
