.c-editMenu {
    @include font--primary(500);
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    @media #{$tablet-down} {
        flex-direction: row;
    }

    &__link {
        display: flex;
        align-items: center;
        width: 7.5rem;
        justify-content: center;
        align-items: center;
    }
}