@import "../Variables";

.c-footer {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    border-top: 1px solid $special-primary;
    padding: 1rem 15rem;
    @include font--primary();

    &__legal {
        &>a {
         color: $special-primary;   
        }

        &>a:not(:last-of-type) {
            margin-right: 2rem;
        }
    }
}