@import "../Variables";

.c-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid $special-primary;

    a {
        @include font--primary(500);
        font-size: 1.2em;
    }

    & > a {
        margin: 0;
    }

    &__return {
        display: flex;
        align-items: center;
        margin-right: 0.5rem !important;
    }
    
    &__links {
        margin-left: auto;
    }
±
    &__links > a:not(:last-child) {
        margin-right: 1rem;
    }
}