<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>
		<title>GLUEAmsterdam</title>
		<title>{{ event.nTitle }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<link rel="stylesheet" href="{{ siteUrl }}css/style.css">
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		{% block external_scripts %}
			{# All external scripts appear here #}
		{% endblock %}
		{% block styles %}
			{# Template specific styles can be applied here #}
		{% endblock %}
	</head>
	<body>
		{% include "components/header.twig" %}

		<div class="wrapper">
			{% block content %}
				{# Content appears inbetween this block #}
			{% endblock %}
		</div>

		{% block javascripts %}
			{# All scripts appear here #}
		{% endblock %}
	</body>
</html>
