<footer class="c-footer">
	<div class="c-footer__main">
		<ul class="c-footer__socials">
			{% for social in footer.socials.all() %}
				{% set destination = social.linkDestination %}
				<a class="c-footer__social" href="{{ destination }}" target="_blank">
					<img class="c-footer__socialImg" src="{{ social.asset.one().url }}" alt="Social media icon ">
				</a>
			{% endfor %}
		</ul>
	</div>
	<ul class="c-footer__legal">
		<a href="#">privacy policy</a>
		<a href="#">terms & conditions</a>
		<a href="#">&copy
			{{ "now"|date('Y') }}
		</a>
	</ul>
</footer>
