{% set pages = craft.entries.section('pages') %}

<header class="c-header">
	<a class="c-header__return" href="{{ general.postSlug }}">
		<ion-icon name="arrow-back-outline"></ion-icon>
		{{ general.oneWord }}
	</a>

	{% if currentUser %}
		<span class="c-header__links">
			<a href="/edit-page">Account</a>
			<a href="/logout">Logout</a>
		</span>
	{% endif %}

</header>
