{% set pages = craft.entries.section('pages') %}

<header class="c-header">
	<a class="c-header__return" href="{{ event.postSlug }}">
		<ion-icon name="arrow-back-outline"></ion-icon>
		{{ event.oneWord }}
	</a>
</header>
